* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  width: 100%;
}
.bg {
  background-color: #eff7ff;
}
.firstsec {
  background-color: #eff7ff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;

  position: relative;
  background-color: #eff7ff;
}

.nav-left,
.buttonwrap {
  flex: 1;
}

nav {
  display: flex;
  justify-content: center;
  flex: 2;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-left: 150px;
}

ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #04090d;
}

.buttonwrap {
  display: flex;
  justify-content: flex-end;
}

.app-btn {
  width: 138px;
  height: 53px;
  background-color: #139ee3;
  border-radius: 40px;
  color: white;
  font-family: "Lato", sans-serif;
  border: 1px solid #139ee3;
  display: flex;
  justify-content: center;
  align-items: center;
}
