* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* 👈 consistent spacing */
}
.wrapper {
  width: 100%;
}

.firstsec {
  background-color: #eff7ff;
}
header {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #04090d;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
}
.buttonwrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-btn {
  width: 138px;
  height: 53px;
  background-color: #139ee3;
  gap: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  text-align: center;
  color: #fff;
  border: 1px solid #139ee3;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frameafterheader {
  width: 50%;
  margin-left: 50px;
  margin-top: 30px;
}
.firsttext {
  margin-top: 70px;
}
.firsttext h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #04090d;
}
.twolinks {
  display: flex;
  align-items: center;
  gap: 4px;
}
.twolinks span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  margin-top: 10px;
}
.twolinks img {
  width: 10px;
  height: 10px;
  margin-top: 10px;
}
.pricing-section {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  margin-top: 80px;
}
.pricing {
  width: 50%;
  background-image: url("images/Bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 50px;
  display: flex;
}
.pricing-card {
  width: 237px;
  height: 200px;

  z-index: 99;
  padding: 20px;
}
.pricing-card p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
.pricing-card h3 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.pricing-card:hover {
  border: 1px solid blue;
}
.secondframe {
  width: 100%;
  background-color: #ffffff;
}
.textwrap {
  width: 70%;
  background-color: #ffffff;

  margin: 30px auto;
}
.text h2 {
  font-size: 40px;
  font-family: "Lato" "sans-serif";
  font-weight: 700;
}
.text p {
  font-size: 20px;
  font-size: 40px;
  font-family: "Lato" "sans-serif";
  color: #7b7b7b;
}
.listing {
  margin-top: 30px;
}
.firstlist span {
  font-size: 19px;
  font-weight: 400;
  font-family: "Lato" "sans-serif";
  color: #04090d;
}
.firstlist img {
  height: 19px;
  width: 19px;
  margin-top: 20px;
}
